.box{
    width: 200px;
    height: 200px;
    background-color: brown;
    color: thistle;
    text-align: center;
    line-height: 200px;
    font: size 50px;
    margin: 20px;
    padding: 20px;
    border: 2px solid black;
}